<app-autocomplete></app-autocomplete>

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Mi Aplicación con Material Design</span>
        <span class="example-spacer"></span>
        <button mat-icon-button aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
    <mat-tab label="Tab 1">
        <div class="content">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Ejemplo de Tarjeta</mat-card-title>
                    <mat-card-subtitle>Con Material Design</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Este es el contenido de la tarjeta. Puedes agregar más elementos aquí.</p>
                    <mat-form-field appearance="fill">
                        <mat-label>Input</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                    <mat-checkbox>Checkbox</mat-checkbox>
                    <mat-radio-group>
                        <mat-radio-button value="1">Opción 1</mat-radio-button>
                        <mat-radio-button value="2">Opción 2</mat-radio-button>
                    </mat-radio-group>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

            <mat-slider min="1" max="100" value="50"></mat-slider>

            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Tab 2"> Contenido del Tab 2 </mat-tab>
</mat-tab-group>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item>Opción 1</button>
    <button mat-menu-item>Opción 2</button>
</mat-menu>

<button mat-raised-button [matMenuTriggerFor]="appMenu">Menú</button>

<mat-divider></mat-divider>

<mat-list>
    <mat-list-item *ngFor="let item of items">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{ item }}</div>
    </mat-list-item>
</mat-list>

<mat-spinner></mat-spinner>


<mat-form-field>
    <mat-label>Snack bar duration (seconds)</mat-label>
    <input type="number" [(ngModel)]="durationInSeconds" matInput>
  </mat-form-field>
  
  <button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
    Pizza party
  </button>
  